.is-background-div {
    background: #161616;
}

.is-view-container {
    margin: 2.5px 2.5px 5px 5px;
}

.is-view-element-container {
    background:#232323;
    color: #b0b0b0 !important;
}

.is-header-container {
    width: calc(100vw - 5px);
    height: calc(5vh - 7.5px);
    margin: 5px 5px 2.5px 5px;
    display: flex;
    justify-content: center;
}

.is-screen-container {
    height: calc(60vh - 5px);
    margin-bottom: 2.5px;

}

.is-timeline-container {
    height: calc(35vh - 7.5px);
    margin-top: 2.5px;
}

.is-menu-container {
    height: calc(95vh - 7.5px);
    margin: 2.5px 5px 5px 2.5px;
    overflow: auto;
}

.is-menu-container label{
    color: #b0b0b0 !important;
    font-weight: normal;
}

.is-menu-container .tabs.is-toggle li.is-active a {
    background-color: #313131;
    border-color: #313131;
    color: ghostwhite;
}

.tabs.is-toggle h3 {
    color: ghostwhite !important;
}

.is-menu-container .tabs.is-toggle li a {
    background-color: #232323;
    border-color: #161616;
    color: #b0b0b0;
}

#canvas{
    background: white;
    padding: 0;
    margin: auto;
}